{{define "forgotpw"}}{{ template "header" . }} 
      <div class="row">
        <div class="col">
		<div id="container" class="card" style="width: 35em">
		  <div class="card-body">
		    <h3 class="card-title">Mot de passe oublié</h3>
		    <br>
		    <p class="card-text">
			Si vous avez oublié votre mot de passe, demandez à votre administrateur de le réinitialiser.<br><br>Pour réinitialiser un mot de passe administrateur, relancez le serveur avec l'argument <code class="text-nowrap">--reconfigure</code> puis modifiez-le dans la section authentification.
		    </p><br>
		  </div>
		</div>
	    </div>
   	 </div>
{{ template "pagename" "ForgotPw"}}
{{ template "customjs" .}}
{{ template "footer" }}
{{end}}
