{{define "error"}}{{template "header" .}}
 
     <div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow-sm" style="width: {{ .ErrorCardWidth }};">
      <div class="card-body text-center">
{{ if .IsGenericError }}

    {{ if eq .ErrorId 0 }}
        <h2 class="card-title">
          Fichier introuvable
        </h2>
        <br>
          Le lien a peut-être expiré, ou le fichier a été téléchargé le nombre de fois autorisé.
    {{ end }}
    
    {{ if eq .ErrorId 1 }}
        <h2 class="card-title">
          Envoi impossible
        </h2>
        <br>
          Cela peut avoir l'une de ces causes :
          <i><ul class="list-unstyled mt-2">
            <li>- La demande a expiré (limite de durée atteinte)</li>
            <li>- La limite de fichiers de cette demande est atteinte</li>
            <li>- L'adresse d'envoi est invalide</li>
          </ul></i>
   {{ end }}
   
   {{ if eq .ErrorId 2 }}
        <h2 class="card-title">
          Clé de déchiffrement absente ou invalide
        </h2>
        <br>
          Ce fichier est chiffré, mais aucune clé n'a été fournie ou la clé est invalide.<br><br>
          Contactez l'expéditeur et vérifiez que l'adresse complète est utilisée, y compris la partie après le dièse.
   {{ end }}
   
   {{ if eq .ErrorId 3 }}
       <h2 class="card-title">Utilisateur non autorisé</h2>
		    <br>
		    <p class="card-text">La connexion via le fournisseur OAuth a réussi, mais cet utilisateur n'est pas autorisé à utiliser Gokapi.</p><br><br>
		    <a href="./login?consent=true" class="card-link">Se connecter avec un autre compte</a>
   {{ end }}
    
{{ else }}
   
   {{ if eq .ErrorId 4 }}
		 <h2 class="card-title">Erreur du fournisseur OIDC : {{.ErrorTitle}}</h2>
				    <br>
				    <p class="card-text"><b>La connexion via le fournisseur OAuth a échoué, l'erreur suivante a été renvoyée :</b></p>
		{{ if .ErrorOauthMessage }}
				 <p class="text-monospace">{{ .ErrorOauthMessage }}</p>
		{{ end}}
				 <p class="text-monospace">{{ .ErrorMessage }}</p><br>
				    <a href="./login?consent=true" class="card-link">Réessayer</a>
   {{ else }}
   
        <h2 class="card-title">
          {{ .ErrorTitle }}
        </h2>
        <br>
          {{ .ErrorMessage }}
   {{ end }}

{{ end }}



        </p>
      </div>
    </div>
  </div>
</div>
{{ template "pagename" "PublicError"}}
{{ template "customjs" .}}
{{template "footer"}}    
{{end}}
