{{define "setup"}}<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Installation de Gokapi</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./bootstrap/bootstrap.css" rel="stylesheet">
		<link href="./src/bootstrap-wizard.css" rel="stylesheet">
		<link href="./chosen/chosen.css" rel="stylesheet">
		<style>
			.wizard-modal p {
				margin: 0 0 10px;
				padding: 0;
			}

			#wizard-ns-detail-servers, .wizard-additional-servers {
				font-size: 12px;
				margin-top: 10px;
				margin-left: 15px;
			}
			#wizard-ns-detail-servers > li, .wizard-additional-servers li {
				line-height: 20px;
				list-style-type: none;
			}
			#wizard-ns-detail-servers > li > img {
				padding-right: 5px;
			}

			.wizard-modal .chzn-container .chzn-results {
				max-height: 150px;
			}
			.wizard-addl-subsection {
				margin-bottom: 40px;
			}
			.create-server-agent-key {
				margin-left: 15px; 
				width: 90%;
			}
			
			

			    .oauthscopecontainer {
			      margin: 0 auto;
			    }

			    .oauthscopes {
				display: flex;
				flex-wrap: wrap;
				align-items: center; /* Align items vertically in the center */
				margin-bottom: 5px;
			    }

			    #oauth_restrict_users, #oauth_restrict_groups {
			      margin-right: 10px;
			    }

			    #label_ousers, #label_ogroups {
			      margin-right: 10px;
			    }
			    

		</style>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv-3.7.0.js"></script>
		<script src="js/respond-1.3.0.min.js"></script>
		<![endif]-->
	</head>
	<body style="padding:30px;">

		

		<div class="wizard" id="satellite-wizard" data-title="Installation de Gokapi">



			<!-- Step 0 Welcome -->
			<div class="wizard-card wizard-card-overlay" data-cardname="Welcome">
				<h3>Bienvenue</h3>

				<div class="wizard-input-section">
				
{{ if .IsInitialSetup }}
					<p>
						Merci d'avoir choisi Gokapi. Cet assistant vous guide à travers l'installation. Pour en savoir plus, consultez la <a href="https://gokapi.readthedocs.io/en/stable/" title="Documentation de Gokapi" target="_blank">documentation</a>.
					</p>
{{ else }}
					<p>
						Vous pouvez maintenant modifier la configuration de Gokapi. Pour en savoir plus, consultez la <a href="https://gokapi.readthedocs.io/en/stable/" title="Documentation de Gokapi" target="_blank" rel="noopener noreferrer">documentation</a>.
					</p>
{{ end }}
					<br>
{{ if .IsDataNotMounted }}
					<p>
					<span style="color:#FF0000;"><b>Attention :</b> Il semble que votre dossier <code>/app/data</code> n'a pas été monté comme volume. Vous perdrez toutes vos données à la prochaine mise à jour ou reconstruction de ce conteneur.</span>
					</p>
{{ end }}
{{ if .IsConfigNotMounted }}
					<p>
					<span style="color:#FF0000;"><b>Attention :</b> Il semble que votre dossier <code>/app/config</code> n'a pas été monté comme volume. Vous perdrez toutes vos données à la prochaine mise à jour ou reconstruction de ce conteneur.</span>
					</p>
{{ end }}

				</div>
			</div>
			<!-- Step 1 DB Location -->
			<div class="wizard-card wizard-card-overlay" data-cardname="dblocation">
				<h3 style="display:none">Base de données</h3>

				<div class="wizard-input-section">
					<div class="form-group">
					
{{ if not .IsInitialSetup }}
				<p>
					<span style="color:red"><b>Attention :</b> Si vous changez les paramètres de base de données, migrez-la d'abord vers son nouvel emplacement avec <code>gokapi migrate-database</code> avant de terminer l'installation.</span>
				</p><br>
{{ end }}

							  <label for="dbtype_sel">Type de base de données</label>
						<select name="dbtype_sel" id="dbtype_sel"  style="width:350px;" class="select form-control"  onChange="dbChanged()">	
								<option value="0" selected>SQLite</option>
								<option value="1">Redis</option>

						</select><br>
						<div id="divsqlite">
							<label for="sqlite_location">Emplacement de la base :</label>
							<input type="text" class="form-control" id="sqlite_location" name="sqlite_location" value="./data/gokapi.sqlite" placeholder="Emplacement de la base" required><br>
						</div>
						<div id="divredis" style="display: none;">
							<label for="redis_location">Hôte de la base :</label>
							<input type="text" class="form-control" id="redis_location" name="redis_location" value="127.0.0.1:6379" placeholder="Hôte de la base" required><br>
							<label for="redis_prefix">Préfixe des clés :</label>
							<input type="text" class="form-control" id="redis_prefix" name="redis_prefix" value="gokapi_" placeholder="(optional)"><br>				
							<label for="redis_user">Nom d'utilisateur :</label>
							<input type="text" class="form-control" id="redis_user" name="redis_user" value="" placeholder="(optional)"><br>				
							<label for="redis_password">Mot de passe (stocké en clair) :</label>
							<input type="text" class="form-control" id="redis_password" name="redis_password" value="" placeholder="(optional)"><br>				
							<label for="redis_ssl_sel">Utiliser SSL</label>
							<select name="redis_ssl_sel" id="redis_ssl_sel" style="width:350px;" class="select form-control">
								<option value="0" selected>No</option>
								<option value="1">Oui</option>
							</select>
						</div>
					</div>
				</div>
			</div>
						
			
			<!-- Step 2 Webserver -->
			<div class="wizard-card wizard-card-overlay" data-cardname="webserver1">
				<h3 style="display:none">Serveur web 1/2</h3>

				<div class="wizard-input-section">
					<div class="form-group">

							  <label for="localhost_sel">Rendre le serveur accessible uniquement depuis cette machine (écoute sur localhost)</label>
						<select name="localhost_sel" id="localhost_sel"  style="width:350px;" class="select form-control" {{ if .IsDocker }}disabled{{ end }}>	
{{ if .IsDocker }}
								<option value="0" selected>Non pris en charge dans Docker</option>
{{ else }}
								<option value="0" selected>No</option>
								<option value="1">Oui</option>
{{ end }}

						</select><br>
							
							  <label for="ssl_sel">Utiliser SSL (un certificat auto-signé sera généré, remplaçable ensuite)</label>
						<select name="ssl_sel" id="ssl_sel" style="width:350px;" onChange="urlParamChanged()" class="select form-control">
								<option value="0" selected>No</option>
								<option value="1">Oui</option>

						</select><br>
						
							  <label for="logip_sel">Journaliser l'adresse IP au téléchargement <i>(peut ne pas être conforme au RGPD)</i></label>
						<select name="logip_sel" id="logip_sel" style="width:350px;" class="select form-control">
								<option value="0" selected>No</option>
								<option value="1">Oui</option>
						</select><br>
						
							  <label for="showfilename_sel">Inclure le nom du fichier dans l'adresse de téléchargement</label>
						<select name="showfilename_sel" id="showfilename_sel" style="width:350px;" class="select form-control">
								<option value="0" selected>No</option>
								<option value="1">Oui</option>
						</select>
					</div>
				</div>
			</div>
			
			<!-- Step 3 Webserver 2 -->
			<div class="wizard-card wizard-card-overlay" data-cardname="webserver2">
				<h3 style="display:none">Serveur web 2/2</h3>

				<div class="wizard-input-section">
					<div class="form-group">

							  <label for="public_name">Nom public :</label>
								<input type="text" class="form-control" id="public_name" name="public_name" value="Gokapi" placeholder="Nom public" required>
							  <br><label for="port">Port :</label>
{{ if .IsDocker }}
							<input type="number" class="form-control" id="port" value="53842" placeholder="Numéro de port" disabled>
							<input type="hidden" class="form-control" name="port" value="53842">
{{ else }}
							<input type="number" class="form-control" id="port" name="port" value="53842" min="1" max="65535" placeholder="Numéro de port" data-min="1" data-validate="validateMinLength" required onChange="urlParamChanged()">
{{ end }}
							

							  <br><label for="url">Adresse publique :</label>
								<input type="text" class="form-control" id="url" name="url" value="http://127.0.0.1:53842/" placeholder="Adresse publique" data-min="8" required data-validate="validateUrl">
							
							

							  <br><label for="url_redirection">Adresse de redirection de la page d'accueil :</label>
								<input type="text" class="form-control" id="url_redirection" name="url_redirection" value="https://github.com/Forceu/Gokapi/" placeholder="Adresse de redirection" required data-min="1" data-validate="validateMinLength">
						</div>
				</div>
			</div>
			
			


			<!-- Step 4 Auth -->
			<div class="wizard-card wizard-card-overlay" data-cardname="authentication">
				<h3 style="display:none">Authentification</h3>

				<div class="wizard-input-section">
					<div class="form-group">
					<p>
						Choisissez la méthode de connexion à l'interface d'administration
					</p>


						<select name="authentication_sel" id="authentication_sel" style="width:350px;" class="select form-control" onchange="authSelectionChanged(this.value);">
							<optgroup label="Standalone">
								<option value="0" selected>Nom d'utilisateur et mot de passe</option>
								<option value="1" >OAuth2 OpenID Connect</option>
							</optgroup>

							<optgroup label="Proxy inverse">
								<option value="2">Authentification par en-tête de confiance</option>
								<option value="3">Désactivée / restriction d'accès</option>
							</optgroup>

						</select>
					</div>
				</div>
			</div>

			<!-- Step 5a Credentials PW -->
			<div class="wizard-card wizard-card-overlay" data-cardname="credentials">
				<h3 style="display:none">Identifiants</h3>


				<div class="wizard-input-section">
						<div class="form-group">
					<p>
						Saisissez un nom d'utilisateur et un mot de passe pour le compte administrateur
					</p>

							<div class="col-sm-8">
								<input type="text" class="form-control" id="auth_username" name="auth_username" placeholder="Nom d'utilisateur" data-min="3" required data-validate="validateMinLength">
							</div><br><br>
							<div class="col-sm-8">
								<input type="password" autocomplete="new-password" class="form-control" id="auth_pw" name="auth_pw" placeholder="Mot de passe" data-min={{ .MinPasswordLength }} required data-validate="validatePassword">
							</div><br><br>
							<div class="col-sm-8">
								<input type="password" autocomplete="new-password" class="form-control" id="auth_pw2" name="auth_pw2" placeholder="Mot de passe (répéter)" data-min={{ .MinPasswordLength }} required>
						</div>
					</div>


				</div>
			</div>
			
			<!-- Step 5b Credentials Oauth -->
			<div class="wizard-card wizard-card-overlay" data-cardname="credentials-oauth">
				<h3 style="display:none">Identifiants</h3>


					<div class="wizard-input-section">
						<div class="form-group">
					<p>
						Saisissez la configuration du client OIDC. Les groupes se séparent par un point-virgule. La <a href="https://gokapi.readthedocs.io/en/stable/setup.html#oauth2-openid-connect" target="_blank" rel="noopener noreferrer">documentation</a> donne des exemples de configuration pour différents fournisseurs.<br>
					</p>

							<div class="col-sm-8" style="width:90%">
							  <label for="oauth_provider">Adresse du fournisseur :</label>
								<input type="text" class="form-control" id="oauth_provider" name="oauth_provider" placeholder="Adresse du fournisseur" data-min="1" required data-validate="validateMinLength">
							</div>

							<div class="col-sm-8" style="width:90%">
							  <label for="oauth_id">Identifiant client :</label>
								<input type="text" class="form-control" id="oauth_id" name="oauth_id" placeholder="Identifiant client" data-min="1" required data-validate="validateMinLength">
							</div>

							<div class="col-sm-8" style="width:90%">
							  <label for="oauth_secret">Secret client :</label>
								<input type="text" class="form-control" id="oauth_secret" name="oauth_secret" placeholder="Secret client" data-min="1" required data-validate="validateMinLength">
							</div>
							<div class="col-sm-8" style="width:90%">
							  <label for="oauth_admin_user">Adresse courriel de l'administrateur :</label>
								<input type="text" class="form-control" id="oauth_admin_user" name="oauth_admin_user" placeholder="Adresse courriel de l'administrateur" data-min="3" required data-validate="validateMinLength">
							</div>
							<div class="col-sm-8" style="width:90%">
							Revérifier l'identité tous les 
							<select name="oauth_recheck_interval" id="oauth_recheck_interval" style="width:350px;" class="select form-control">
								<option value="6"> 6 heures</option>
								<option value="12" selected>12 heures</option>
								<option value="24">24 heures</option>
								<option value="72"> 3 jours</option>
								<option value="168">7 jours</option>
								<option value="336">14 jours</option>
								<option value="720">30 jours</option>
						</select>
							</div>
							<div class="col-sm-8" style="width:90%">
							<br>Restreindre à :
								  <div class="oauthscopecontainer">
								    <div class="oauthscopes">
								      <input type="hidden" name="oauth_restrict_groups.unchecked" value="false">
								      <input type="checkbox" id="oauth_restrict_groups" name="oauth_restrict_groups" onchange="handleOauthCheckboxChange(this)"  value="true">
								      <label id="label_ogroups" for="oauth_restrict_groups" class="checkboxLabel">Groupes</label>
								      <input type="text" id="oauth_scope_groups" name="oauth_scope_groups" class="input-field" placeholder="Identifiant de portée" data-min="1" data-validate="validateMinLength" disabled>&nbsp;
								      <input type="text" id="oauth_allowed_groups" name="oauth_allowed_groups" class="input-field" placeholder="Groupes autorisés" data-min="1" data-validate="validateMinLength" disabled>
								    </div>
								    
								     <div><br>
								     <input type="hidden" name="oauth_only_registered_users.unchecked" value="false">
								     <input  id="oauth_only_registered_users" name="oauth_only_registered_users" type="checkbox" value="true">
								     <span>&nbsp;N'autoriser que les utilisateurs déjà existants à se connecter</span>
								     </div>
								  </div>
							</div> 
							<div class="col-sm-8" style="width:90%">
							 <label for="oauth_redir"><br>Adresse de redirection :</label>
{{ if .IsInitialSetup }}
								<input type="text" style="cursor:default" class="form-control" id="oauth_redir" name="oauth_redir" disabled value="http://127.0.0.1:53842/oauth-callback">
{{ else }}
								<input type="text" style="cursor:default" class="form-control" id="oauth_redir" name="oauth_redir" disabled value="{{ .Settings.ServerUrl }}oauth-callback">
{{ end }}
							</div><br><br>

					</div>

				</div>
			</div>
			
			<!-- Step 5c Credentials Header -->
			<div class="wizard-card wizard-card-overlay" data-cardname="credentials-header">
				<h3 style="display:none">Identifiants</h3>


				<div class="wizard-input-section">
						<div class="form-group">
					<p>
						Saisissez le nom de l'en-tête fourni par votre proxy inverse et contenant le nom d'utilisateur.<br><br>
					</p>

							<p>
							  <label for="auth_headerkey">Nom de l'en-tête :</label>
								<input type="text" class="form-control" id="auth_headerkey" name="auth_headerkey" data-min="1" required placeholder="Nom de l'en-tête" data-validate="validateMinLength">
							</p>
							
							<p>
							  <label for="auth_header_admin">Nom du compte administrateur :</label>
								<input type="text" class="form-control" id="auth_header_admin" name="auth_header_admin" data-min="3"  data-validate="validateMinLength" required placeholder="Nom du compte administrateur">
							</p>
						
						    <br>
						     <input type="hidden" name="auth_header_only_registered_users.unchecked" value="false">
						     <input id="auth_header_only_registered_users" name="auth_header_only_registered_users" type="checkbox" value="true">
						     <span>&nbsp;N'autoriser que les utilisateurs déjà existants à se connecter</span>
					</div>
				</div>
			</div>
			<!-- Step 5d Credentials Disbabled -->
			<div class="wizard-card wizard-card-overlay" data-cardname="credentials-disabled">
				<h3 style="display:none">Identifiants</h3>


				<div class="wizard-input-section">
					<p>
						<span style="color:#FF0000;">Attention :</span> Ce réglage désactive complètement l'authentification. Vous devrez protéger les adresses suivantes avec votre proxy inverse :
						
						<ul>
{{ range .ProtectedUrls }}
						  <li><code>{{ . }}</code></li>
{{ end }}
						</ul>

						Ne continuez que si vous savez ce que vous faites.
					</p>

				</div>
			</div>



			<!-- Step 6 Storage -->
			<div class="wizard-card wizard-card-overlay" data-cardname="storage">
				<h3 style="display:none">Stockage</h3>

				<div class="wizard-input-section">
					<p>
						Choisissez de stocker les fichiers localement ou sur une infrastructure compatible S3.
					</p>

					<select name="storage_sel" id="storage_sel" style="width:350px;" class="select form-control" onchange="storageSelectionChanged(this.selectedIndex);">
							<option value="local" selected>Stockage local</option>
							<option value="cloud" {{ if not .HasAwsFeature }} disabled {{ end }} >Stockage distant</option>

					</select>
					
{{ if not .HasAwsFeature }}
					<p><br><br><i>Cette version a été compilée sans la prise en charge d'AWS : le stockage distant n'est pas disponible.</i></p>
					
			  				<input type="hidden" id="storage_sel_image" name="storage_sel_image" value="nochange">

						</select>
{{ else }}

					<div id="cloudstorage_options" style="visibility: hidden">

						<br><p>
							Emplacement des images : choisissez le stockage local si vous voulez le chiffrement complet tout en gardant les liens directs.
						</p>
						<select name="storage_sel_image" id="storage_sel_image" style="width:350px;" class="select form-control">
								<option value="nochange" selected>Utiliser le stockage distant</option>
								<option value="local">Utiliser le stockage local pour les images</option>

						</select>
						<br><p>
							To conserve bandwidth, Gokapi defaults to redirecting to pre-signed S3 download URLs. If you prefer not to use this feature or if your S3 server is only accessible from your internal network, select the "Faire transiter les téléchargements" option below.
						</p>
						<select name="storage_sel_proxy" id="storage_sel_proxy" style="width:350px;" class="select form-control">
								<option value="presigned" selected>Par défaut</option>
								<option value="proxy">Faire transiter les téléchargements</option>

						</select>
					</div>
{{ end }}
					

				</div>
			</div>
			
			
			<!-- Step 7 S3 Credentials -->
			<div class="wizard-card wizard-card-overlay" data-cardname="s3credentials">
				<h3 style="display:none">Identifiants S3</h3>

				<div class="wizard-input-section">
				
					<div class="form-group">
							<div class="col-sm-8">
{{ if not .S3EnvProvided }}
							  <label for="s3_bucket">Nom du compartiment :</label>
								<input type="text" class="form-control" id="s3_bucket" name="s3_bucket" placeholder="Nom du compartiment" data-min="1" data-validate="validateMinLength">
							</div><br><br>
							<div class="col-sm-8">
							  <label for="s3_region">Nom de la région :</label>
								<input type="text" class="form-control" id="s3_region" name="s3_region" placeholder="Nom de la région" required data-min="1" data-validate="validateMinLength">
							</div><br><br>
							<div class="col-sm-8">
							  <label for="s3_api">Clé d'API :</label>
								<input type="text" class="form-control" id="s3_api" name="s3_api" placeholder="Clé d'API" required data-min="1" data-validate="validateMinLength">
							</div><br><br>
							
							<div class="col-sm-8">
							  <label for="s3_secret">Secret de la clé d'API :</label>
								<input type="text" class="form-control" id="s3_secret" name="s3_secret" placeholder="Secret de la clé d'API" required data-min="1" data-validate="validateMinLength">
							</div><br><br>
							<div class="col-sm-8">
							  <label for="s3_endpoint">Point d'accès :</label>
								<input type="text" class="form-control" id="s3_endpoint" name="s3_endpoint" placeholder="Point d'accès (laisser vide pour AWS S3)">
							<br><br>			  
	  						 <button id="downloadbutton" class="btn btn-light" type="button" onclick="TestAWS(this, true);">
			  					Tester la configuration
			  				</button>	
{{ else }}
							Credentials have been provided with environment variables and cannot be changed.
							<br><br>
	  						 <button id="downloadbutton" class="btn btn-light" type="button" onclick="TestAWS(this, false);">
			  					Tester la configuration
			  				</button>
			  				<input type="hidden" id="s3_bucket" name="s3_bucket">
			  				<input type="hidden" id="s3_region" name="s3_region" >
			  				<input type="hidden" id="s3_api" name="s3_api">
			  				<input type="hidden" id="s3_secret" name="s3_secret">
			  				<input type="hidden" id="s3_endpoint" name="s3_endpoint">
{{ end }}			
							</div>
						</div>
				</div>
			</div>

<script>

function TestAWS(button, isManual) {

    button.disabled = true;
{{ if .IsInitialSetup }}
    if (sessionStorage.getItem("awstestpw") == null || sessionStorage.getItem("awstestpw") == "") {
        let pw = window.prompt("Un mot de passe est nécessaire pour tester la connexion AWS.\nSaisissez celui affiché dans la console.", "");
        if (pw == "" || pw == null) {
    	    button.disabled = false;
            return;
        }
        sessionStorage.setItem("awstestpw", pw);

    }
{{ end }}

    button.innerHTML = "Connecting...";

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE) {
            button.innerHTML = "Tester la configuration";
            button.disabled = false;

            let response = {};
            try {
                response = JSON.parse(xhr.responseText);
            } catch (e) {
                response = {
                    result: "Erreur : réponse du serveur illisible."
                };
            }


            switch (this.status) {
                case 200:
                    alert(response.result || "Test réussi.");
                    break;
                case 401:
                    sessionStorage.setItem("awstestpw", "");
                    alert("Mot de passe de test AWS incorrect.\nSaisissez celui affiché dans la console.");
                    break;
                default:
                    const errorMessage = response.result || "Une erreur inattendue est survenue";
                    alert(`Error: ${errorMessage}`);
            }
        }
    };

    xhr.open("POST", "./testaws", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    if (isManual) {
        xhr.send(JSON.stringify({
            bucket: document.getElementById("s3_bucket").value,
            region: document.getElementById("s3_region").value,
            apikey: document.getElementById("s3_api").value,
            apisecret: document.getElementById("s3_secret").value,
            endpoint: document.getElementById("s3_endpoint").value,
            setupPassword: sessionStorage.getItem("awstestpw"),
            isEnvProvided: false
        }));
    } else {
        xhr.send(JSON.stringify({
            setupPassword: sessionStorage.getItem("awstestpw"),
            isEnvProvided: true
        }));
    }

}

</script>
			

			<!-- Step 7 Encryption -->
			<div class="wizard-card wizard-card-overlay" data-cardname="encryption">
				<h3 style="display:none">Niveau de chiffrement</h3>

				<div class="wizard-input-section">
						<div class="form-group">
					
{{ if not .IsInitialSetup }}
				<p>
					<span style="color:red"><b>Attention :</b> Changer le niveau de chiffrement supprimera tous les fichiers chiffrés existants. Les autres fichiers resteront non chiffrés.</span>
				</p><br>
{{ end }}
					

					<select name="encrypt_sel" id="encrypt_sel" style="width:350px;" class="select form-control" onchange="encryptionSelectionChanged(this.selectedIndex, false);">
							<option value="0" selected>Niveau 0 — aucun chiffrement</option>
							<option value="1" >Niveau 1 — chiffrement local / clé sur la machine</option>
							<option value="2" >Niveau 1 — chiffrement local / clé au démarrage</option>
							<option value="3" >Niveau 2 — chiffrement complet / clé sur la machine</option>
							<option value="4" >Niveau 2 — chiffrement complet / clé au démarrage</option>
							<option value="5" >Niveau 3 — chiffrement de bout en bout</option>
					</select>
					
					
					<div id="encinfo0">
					<p><br><br><b>Niveau 0 — aucun chiffrement</b>
					<ul>
					  <li>Tous les fichiers sont stockés en clair sur le serveur local ou distant</li>
					  <li>Consomme le moins de ressources</li>
					  <li>Prend en charge les liens directs</li>
					  <li>Affiche une barre de progression au téléchargement</li>
					  <li>Gokapi démarre sans intervention</li>
					</ul></p>
					</div>
					
					<div id="encinfo1">
					<p><br><br><b>Niveau 1 — clé locale</b>
					<ul>
					  <li>Les fichiers locaux sont chiffrés, les fichiers distants (S3) sont stockés en clair</li>
					  <li>Le déchiffrement se fait côté serveur</li>
					  <li>Prend en charge les liens directs</li>
					  <li>Pas de barre de progression au téléchargement</li>
					  <li>Gokapi démarre sans intervention</li>
					  <li><b>Attention :</b> Le mot de passe est lisible par qui accède à la configuration de Gokapi</li>
					  <li><b>Attention :</b> Pendant l'envoi, des fichiers temporaires en clair peuvent être créés.</li>
					  <li><b>Attention :</b> Le chiffrement n'a pas fait l'objet d'un audit.</li>
					</ul></p>
					</div>
					
					<div id="encinfo2">
					<p><br><br><b>Niveau 1 — saisie manuelle</b>
					<ul>
					  <li>Les fichiers locaux sont chiffrés, les fichiers distants (S3) sont stockés en clair</li>
					  <li>Le déchiffrement se fait côté serveur</li>
					  <li>Prend en charge les liens directs</li>
					  <li>Pas de barre de progression au téléchargement</li>
					  <li>Le mot de passe n'est pas lisible par qui accède à la configuration de Gokapi</li>
					  <li><span style="color:red"><b>Attention :</b></span> Gokapi demande une saisie au démarrage</li>
					  <li><b>Attention :</b> Pendant l'envoi, des fichiers temporaires en clair peuvent être créés.</li>
					  <li><b>Attention :</b> Le chiffrement n'a pas fait l'objet d'un audit.</li>
					</ul></p>
					</div>
					
					<div id="encinfo3">
					<p><br><br><b>Niveau 2 — clé locale</b>
					<ul>
					  <li>Tous les fichiers sont chiffrés</li>
					  <li>Le déchiffrement des fichiers locaux se fait côté serveur</li>
					  <li>Le déchiffrement des fichiers distants (S3) se fait dans le navigateur, avec un fichier de 2 Mo à charger à la première visite</li>
					  <li>Liens directs possibles uniquement pour les fichiers stockés localement</li>
					  <li>Pas de barre de progression au téléchargement</li>
					  <li>Gokapi démarre sans intervention</li>
					  <li><b>Important :</b> Pour le stockage distant, les réglages CORS du compartiment doivent autoriser l'adresse de Gokapi</li>
					  <li><b>Attention :</b> Le téléchargement peut être nettement plus lent</li>
					  <li><b>Attention :</b> Le mot de passe est lisible par qui accède à la configuration de Gokapi</li>
					  <li><b>Attention :</b> Pendant l'envoi, des fichiers temporaires en clair peuvent être créés.</li>
					  <li><b>Attention :</b> Le chiffrement n'a pas fait l'objet d'un audit.</li>
					</ul></p>
					</div>
					
					<div id="encinfo4">
					<p><br><br><b>Niveau 2 — saisie manuelle</b>
					<ul>
					  <li>Tous les fichiers sont chiffrés</li>
					  <li>Le déchiffrement des fichiers locaux se fait côté serveur</li>
					  <li>Le déchiffrement des fichiers distants (S3) se fait dans le navigateur, avec un fichier de 2 Mo à charger à la première visite</li>
					  <li>Liens directs possibles uniquement pour les fichiers stockés localement</li>
					  <li>Pas de barre de progression au téléchargement</li>
					  <li>Le mot de passe n'est pas lisible par qui accède à la configuration de Gokapi</li>
					  <li><b>Important :</b> Pour le stockage distant, les réglages CORS du compartiment doivent autoriser l'adresse de Gokapi</li>
					  <li><span style="color:red"><b>Attention :</b></span> Gokapi demande une saisie au démarrage</li>
					  <li><b>Attention :</b> Le téléchargement peut être nettement plus lent</li>
					  <li><b>Attention :</b> Pendant l'envoi, des fichiers temporaires en clair peuvent être créés.</li>
					  <li><b>Attention :</b> Le chiffrement n'a pas fait l'objet d'un audit.</li>
					</ul></p>
					</div>
					
					
					<div id="encinfo5">
					<p><br><br><b>Niveau 3 — chiffrement de bout en bout</b>
					<ul>
					  <li>Tous les fichiers sont chiffrés de bout en bout</li>
					  <li>Le chiffrement et le déchiffrement se font dans le navigateur, avec un fichier de 2 Mo à charger à la première visite</li>
					  <li>Pas de déduplication</li>
					  <li>Pas de liens directs</li>
					  <li>Pas de barre de progression au téléchargement</li>
					  <li>Impossible de remplacer le contenu d'un fichier existant</li>
					  <li>Gokapi démarre sans intervention</li>
					  <li>Les fichiers envoyés par l'API doivent être non chiffrés</li>
					  <li>Le mot de passe n'est pas lisible par qui accède à la configuration de Gokapi</li>
					  <li><b>Attention :</b> L'envoi et le téléchargement peuvent être nettement plus lents</li>
					  <li><b>Attention :</b> Les clés de chiffrement sont stockées en clair sur cette machine</li>
					  <li><b>Attention :</b> Le chiffrement n'a pas fait l'objet d'un audit.</li>
					</ul></p>
							
{{ if not .IsInitialSetup }}
				     <div id="e2eclear"><br>
				     <input type="hidden" name="cleare2e.unchecked" value="false">
				     <input name="cleare2e" type="checkbox" value="true">
				     <span>&nbsp;Réinitialiser le mot de passe de bout en bout (vous perdrez l'accès aux fichiers déjà chiffrés)</span>
				     </div>

{{ end }}
					</div>

				</div>
				</div>
			</div>
			

			<!-- Step 8 Encryption PW -->
			<div class="wizard-card wizard-card-overlay" data-cardname="encryptionpw">
				<h3 style="display:none">Mot de passe maître du chiffrement</h3>

				<div class="wizard-input-section">
						<div class="form-group">
					
{{ if not .IsInitialSetup }}
				<p>
					<span style="color:red"><b>Attention :</b> Changer le mot de passe de chiffrement supprimera tous les fichiers chiffrés existants. Les autres fichiers resteront non chiffrés.</span>
				</p><br>
{{ end }}
					
				<p>
					Saisissez le mot de passe maître du chiffrement. Il devra être saisi en ligne de commande à chaque démarrage de Gokapi.
				</p><br>

					
							<div class="col-sm-8">
								<input type="password" autocomplete="new-password" class="form-control" id="enc_pw" name="enc_pw" placeholder="Mot de passe" data-min="8" required data-validate="validatePassword2" value="{{ if not .IsInitialSetup }}unc{{end}}">
							</div><br><br>
							<div class="col-sm-8">
								<input type="password" autocomplete="new-password" class="form-control" id="enc_pw2" name="enc_pw2" placeholder="Mot de passe (répéter)" data-min="8" required value="{{ if not .IsInitialSetup }}unc{{end}}">
						</div>
		
					</div>
				</div>
			</div>
			
			



			<!-- Step 9 Finish -->
			
			<div class="wizard-card">
				<h3>Fin</h3>

				<div class="wizard-input-section">
					<p>Gokapi est entièrement configuré. Cliquez sur Valider pour enregistrer la configuration.
					</p>

				</div>
				<div class="wizard-error">
					<div class="alert alert-error">
						<strong>Un problème est survenu</strong> with your submission.
						Please correct the errors and re-submit.
					</div>
				</div>
	
				<div class="wizard-failure">
					<div class="alert alert-error">
						Un problème est survenu à l'envoi de la configuration.<br><br>L'erreur suivante a été renvoyée : <span style="font-weight:bold" id="errormessage"></span><br><br>Le serveur a répondu : <span style="font-weight:bold" id="errormessage_response"></span>
					</div>
				</div>
	
				<div class="wizard-success">
					<div class="alert alert-success">
						<span class="create-server-name"></span>Gokapi est configuré <strong>avec succès</strong>.
					</div>
					Si vous avez configuré un mot de passe au démarrage, saisissez-le maintenant dans la console avant de cliquer sur Continuer.<br><br>
	
					<a id="bt_finishsetup" class="btn btn-success im-done">Continuer</a>
				</div>
			</div>
		</div>

		<script src="./js/jquery-2.0.3.min.js"></script>
		<script src="./chosen/chosen.jquery.js"></script>
		<script src="./js/bootstrap.js" ></script>
		<script src="./js/prettify.js"></script>
		<script src="./src/bootstrap-wizard.js"></script>
		<script>
		var wizard;
			$(document).ready(function() {
				wizard = $('#satellite-wizard').wizard({
					buttons : {
						nextText : "Suivant",
						backText : "Retour",
						submitText : "Valider"
					},
					keyboard : false,
					contentHeight : 500,
					contentWidth : 800,
					showClose : false,
					submitUrl: "./setupResult",
					backdrop: 'static'
				});
				
				wizard.el.find(".wizard-success .im-done").click(function() {
					document.getElementById("bt_finishsetup").disabled=true;
					document.getElementById("bt_finishsetup").text="Veuillez patienter";
					setTimeout(function(){ window.location.href = $("#url").val()+"admin";}, 1500);
				});
			
			
				wizard.cards["credentials-oauth"].disable(true);
				wizard.cards["credentials-header"].disable(true);
				wizard.cards["credentials-disabled"].disable(true);
				wizard.cards["s3credentials"].disable(true);
				wizard.cards["encryptionpw"].disable(true);
				
					
{{ if not .IsInitialSetup }}

	{{ if eq .DatabaseSettings.Type 0}}
				document.getElementById("sqlite_location").value = {{.DatabaseSettings.HostUrl}};
	{{ else }}
				document.getElementById("dbtype_sel").selectedIndex = 1;
				document.getElementById("redis_location").value = {{.DatabaseSettings.HostUrl}};
				document.getElementById("redis_prefix").value = {{.DatabaseSettings.RedisPrefix}};
				document.getElementById("redis_user").value = {{.DatabaseSettings.Username}};
				document.getElementById("redis_password").value = {{.DatabaseSettings.Password}};
	{{ end }}
	{{ if .DatabaseSettings.RedisUseSsl }}
				document.getElementById("redis_ssl_sel").selectedIndex = 1;
	{{ end }}
				dbChanged();

	{{ if and (.LocalhostOnly) (not .IsDocker) }}
				document.getElementById("localhost_sel").selectedIndex = 1;
	{{ end }}
	{{ if .Settings.UseSsl }}
				document.getElementById("ssl_sel").selectedIndex = 1;
	{{ end }}
	{{ if .Settings.SaveIp }}
				document.getElementById("logip_sel").selectedIndex = 1;
	{{ end }}
	{{ if .Settings.IncludeFilename }}
				document.getElementById("showfilename_sel").selectedIndex = 1;
	{{ end }}
				document.getElementById("port").value = "{{ .Port }}";
				document.getElementById("url").value = "{{ .Settings.ServerUrl }}";
				document.getElementById("public_name").value = "{{ .Settings.PublicName }}";
				document.getElementById("url_redirection").value = "{{ .Settings.RedirectUrl }}";
				document.getElementById("authentication_sel").value = "{{ .Auth.Method }}";
				authSelectionChanged("{{ .Auth.Method }}")
				
				switch ({{ .Auth.Method }}) {
				  case 0:
				    document.getElementById("auth_username").value = "{{ .Auth.Username }}";
				    document.getElementById("auth_pw").value = "unc";
				    document.getElementById("auth_pw2").value = "unc";
				    break;
				  case 1:
				    document.getElementById("oauth_provider").value = "{{ .Auth.OAuthProvider }}";
				    document.getElementById("oauth_id").value = "{{ .Auth.OAuthClientId }}";
				    document.getElementById("oauth_secret").value = "{{ .Auth.OAuthClientSecret }}";
				    document.getElementById("oauth_admin_user").value = "{{ .Auth.Username }}";
				    document.getElementById("oauth_recheck_interval").value = "{{ .Auth.OAuthRecheckInterval }}";
				    document.getElementById("oauth_only_registered_users").checked = {{.Auth.OnlyRegisteredUsers}};
	{{ if ne .OAuthGroups "" }}
				    document.getElementById("oauth_restrict_groups").checked = true;
				    document.getElementById("oauth_scope_groups").disabled = false;
				    document.getElementById("oauth_scope_groups").value = "{{ .Auth.OAuthGroupScope }}";
				    document.getElementById("oauth_allowed_groups").disabled = false;
				    document.getElementById("oauth_allowed_groups").value = "{{ .OAuthGroups }}";
	{{ end }}
				    break;
				  case 2:
				    document.getElementById("auth_headerkey").value = "{{ .Auth.HeaderKey }}";
				    document.getElementById("auth_header_admin").value = "{{ .Auth.Username }}";
				    document.getElementById("auth_header_only_registered_users").checked = {{.Auth.OnlyRegisteredUsers}};
				    break;
				}
				

{{ end }}

{{ if .CloudSettings.Aws.Bucket }}
				document.getElementById("storage_sel").value = "cloud";
				storageSelectionChanged(1);

	{{ if .CloudSettings.Aws.ProxyDownload }}
				document.getElementById("storage_sel_proxy").value = "proxy";
	{{ end }}

	{{ if .Settings.PicturesAlwaysLocal }}
				document.getElementById("storage_sel_image").value = "local";
	{{ end }}

	{{ if not .S3EnvProvided }}
				document.getElementById("s3_bucket").value = "{{ .CloudSettings.Aws.Bucket }}";
				document.getElementById("s3_region").value =  "{{ .CloudSettings.Aws.Region }}";
				document.getElementById("s3_api").value = "{{ .CloudSettings.Aws.KeyId }}";
				document.getElementById("s3_secret").value =  "{{ .CloudSettings.Aws.KeySecret }}";
				document.getElementById("s3_endpoint").value =  "{{ .CloudSettings.Aws.Endpoint }}";
	{{ end }}
{{ end }}


				wizard.on("submit", function(wizard) {
				
				    /* enable inputs again, otherwise they will not be submitted */
				    document.getElementById("oauth_scope_groups").disabled = false;
				    document.getElementById("oauth_allowed_groups").disabled = false;
					
					 $.ajax({
						type: "POST",
						url: wizard.args.submitUrl,
						data: JSON.stringify(wizard.serializeArray()),
    						contentType: "application/json; charset=utf-8",
						dataType: "json"
					    }).done(function(response) {
						setTimeout(() => {
							wizard.submitSuccess();
							wizard.hideButtons();
							wizard.updateProgressBar(0);
						}, 1500);
					    }).fail(function(xhr, textStatus, errorThrown) {
					     $('#errormessage').text(errorThrown);
					     $('#errormessage_response').text(xhr.responseText);
						wizard.submitFailure();
						wizard.hideButtons();
					    });
			
				});


			});
			
			
			function parseAndSetDbString(input) {
			}
			
			function validateMinLength(el) {
				let value = el.val();
				let retValue = {};
				
				if (el.prop('disabled') == true) {
					retValue.status = true;
					return retValue;
				}
				
				if (value.length == 0) {
					retValue.status = false;
					retValue.msg = "Saisissez une valeur";
					return retValue;
				}
				
				if (value.length < el[0].dataset.min) {
					retValue.status = false;
					retValue.msg = "Doit faire au moins "+el[0].dataset.min+" caractères";
				} else {
					retValue.status = true;
				}

				return retValue;
			}
			
			
			   function handleOauthCheckboxChange(checkbox) {
				// Find the next input fields relative to the checkbox
				var inputFields = checkbox.parentElement.querySelectorAll("input[type='text']");

				inputFields.forEach(function (inputField) {
				    inputField.disabled = !checkbox.checked;
				});
			    }
			
			
			function validateUrl(el) {
				let value = el.val();
				let retValue = {};
				
				if (!value.startsWith("http://") && !value.startsWith("https://")) {
					retValue.status = false;
					retValue.msg = "L'adresse doit commencer par http:// ou https://";
					return retValue;
				}
				let minLenghtStatus = validateMinLength(el);
				if (minLenghtStatus.status == false)
					return minLenghtStatus;
					
				retValue.status = true;
				return retValue;
			}
			
			
			function validatePassword(el) {
				let value = el.val();
{{ if not .IsInitialSetup }}
				if (value == "unc")
					return true;
{{end}}
				let minLenghtStatus = validateMinLength(el);
				if (minLenghtStatus.status == false)
					return minLenghtStatus;
					
				let retValue = {};

				if (value != $('#auth_pw2').val()) {
					retValue.status = false;
					retValue.msg = "Les mots de passe ne correspondent pas";
				} else {
					retValue.status = true;
				}

				return retValue;
			}

			function validatePassword2(el) {
				let value = el.val();
{{ if not .IsInitialSetup }}
				let previousEncLevel = {{ .Settings.Encryption.Level}};
				if (value == "unc" && previousEncLevel == document.getElementById("encrypt_sel").value)
					return true;
{{end}}
				let minLenghtStatus = validateMinLength(el);
				if (minLenghtStatus.status == false)
					return minLenghtStatus;
					
				let retValue = {};

				if (value != $('#enc_pw2').val()) {
					retValue.status = false;
					retValue.msg = "Les mots de passe ne correspondent pas";
				} else {
					retValue.status = true;
				}

				return retValue;
			}

			function storageSelectionChanged(index) {
				let card = wizard.cards["s3credentials"];
				let storageOptDiv = document.getElementById("cloudstorage_options");
				if (index==0) {
					card.disable(true);
					storageOptDiv.style.visibility="hidden";
				} else {
					card.enable();
					storageOptDiv.style.visibility="visible";
				}
					
			}

			$(function() {
				wizard.show();

{{ if .IsInitialSetup }}			
				encryptionSelectionChanged(0, true);
{{ else }}
				document.getElementById("encrypt_sel").value={{.Settings.Encryption.Level}};
				encryptionSelectionChanged({{.Settings.Encryption.Level}}, true);
{{ end }}
			});
			
			function encryptionSelectionChanged(index, initial) {
				for (let i = 0; i < 6; i++) {
				 	document.getElementById("encinfo"+i).style.display = "none";
				}
				document.getElementById("encinfo"+index).style.display = "block";
				if (index==2 || index==4) 
					wizard.cards["encryptionpw"].enable();
				else
					wizard.cards["encryptionpw"].disable(true);
			}
			

				
			function extUrlChanged() {
				let el = document.getElementById("url");
				let lastChar = el.value.substr(-1); 
				if (lastChar != '/') 
					el.value = (el.value + '/') 
					
				document.getElementById("oauth_redir").value = el.value + "oauth-callback";
			}
			
			
			document.getElementById("url").addEventListener("focusout", extUrlChanged);
			
{{ if .IsInitialSetup }}
			var previousPort = "53842";
{{ else }}
			var previousPort = "{{ .Port }}";
{{ end }}
			
			
			function urlParamChanged() {
				let ssl = document.getElementById("ssl_sel").value;
				let url = document.getElementById("url").value;
				let port = document.getElementById("port").value;
				let defaultNoSsl = "http://127.0.0.1:" + previousPort + "/";
				let defaultSsl = "https://127.0.0.1:" + previousPort + "/";
				
				if (url == defaultNoSsl || url == defaultSsl) {
					if (ssl == "0")
						document.getElementById("url").value = "http://127.0.0.1:" + port + "/";
					else
						document.getElementById("url").value = "https://127.0.0.1:" + port + "/";
				}
				previousPort = port;
			}
			
			
			
			function dbChanged() {
				let divSqlite = document.getElementById("divsqlite");
				let divRedis = document.getElementById("divredis");
				let dbType = document.getElementById("dbtype_sel").value;
				
				if (dbType == "0") {
					divSqlite.style.display = "block";
					divRedis.style.display = "none";
				} else {
					divSqlite.style.display = "none";
					divRedis.style.display = "block";
				}
			}
				
				
			function authSelectionChanged(value) {
				wizard.cards["credentials"].disable(true);
				wizard.cards["credentials-oauth"].disable(true);
				wizard.cards["credentials-header"].disable(true);
				wizard.cards["credentials-disabled"].disable(true);
				switch (value) {
					  case '0':
						wizard.cards["credentials"].enable();
					    break;
					  case '1':
						wizard.cards["credentials-oauth"].enable();
					    break;
					  case '2':
						wizard.cards["credentials-header"].enable();
					    break;
					  case '3':
						wizard.cards["credentials-disabled"].enable();
					    break;
				}

			}

		
			
		</script>
	</body>
</html>
{{ end }}
